body{
    background-color: violet;
}



* {padding: 0;
 margin: 0; 
box-sizing: border-box;
}

body{
    font-family: verdana;
}
  
.content-area{
height: 100%;
display: flex;
justify-content: center;
align-items:center ;
}
.content {
text-align: center;

}
.content h1{
font-size: 80px;
color:#ffff;
}
.content .btn2{
border: none;
outline: none;
padding: 15px;
margin-top: 0px;
border-radius: 10px;
color: #dddd;
font-size: 18px;
cursor: pointer;
background: #fb2056;
margin-left: 15px;
margin-right: 15px;
}






.content .btn1{
border: none;
outline: none;
padding: 15px;
margin-top: 0px;
border-radius: 10px;
color: #eeee;
font-size: 18px;
cursor: pointer;
background: #7c2bff;
}

.navbar-brand h1{
height:180px ;
margin-left: 80px;
margin-top: 20px;
color: #5f757e;
}
