<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link rel="style"  href="search.component.css">
  <style>
    body{
     background-image: url("../assets/img/log1.jpg");
      width: 100%;
      height: 100vh;
      margin-top: auto;
      margin-left: auto;
       background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
    }  </style>
    




</head>

<body >
  <!-- ======= Header ======= -->

  <header  id="header" class="fixed-top d-flex align-items-center header-transparent" >
    
    <div  class="container-fluid container-xl d-flex align-items-center justify-content-between">
              <div class="logo me-auto" >
                <h1>EVENT.</h1>
              </div>
        
              <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                  <li><a class="nav-link scrollto" (click)="gotohome()">Home</a></li>
                  <li><a class="nav-link scrollto" href="search">Search</a></li>
        
                  <li><a class="nav-link scrollto "  href="catag">Event List</a></li>
                  <li><a class="nav-link scrollto" href="profil">Profile</a></li>
                  <li><a class="nav-link scrollto" href="chatbot">Contact</a></li>
                  <button   class="btn" style="color:aliceblue;" (click)="cart()"><i class="fas fa-shopping-cart"></i>Cart</button>
                 
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->
        
              
        
            </div>
          </header><!-- End Header -->

  <div style="margin-top: 5.5%;">
  <h1>  <input type="text" id="myInput" (keyup)="myFunction()" class= "searchTerm" placeholder="Search for events names.."> </h1>
   
    <table id="myTable">
      <thead>
      <tr class="header">
        <th style="width:60%;">Name</th>
        <th style="width:40%;">City</th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let event of _eventlist">
        <td (click)="gotoevent(event.id)">{{event.name}}</td>
        <td>{{event.lieu}}</td>
      
      </tr>
      
      </tbody>
    </table> 
  </div>
  <div>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i></a>
</div>
</body>

</html>
